body {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.narcissus {
    background-color: white;
}

.nomad {
    background-color: black;
}

.basilisk {
    background-color: black;
}

.logo-container {
    text-align: center;
}

.logo {
    max-width: 100%;
    height: auto;
}

.message {
    text-align: center;
    margin-top: 20px;
    font-size: 1.2em;
}

.success {
    color: green;
}
.error {
    color: red;
}